fastapi==0.115.11
uvicorn==0.34.0
python-dotenv==1.0.1
python-multipart==0.0.20
openai==1.66.3
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.45
langchain-openai==0.3.8
langchain-text-splitters==0.3.6
pymilvus==2.5.5
pypdf==5.3.1
pdfminer.six==20240706
pydantic==2.10.6
asyncio==3.4.3
streamlit==1.43.2
reportlab==4.3.1
openpyxl